<form class="section container is-fullwidth">
    <mat-form-field appearance="outline" class="is-fullwidth">
      <mat-label>Search Spotify database ...</mat-label>
      <div class="control">
        <input matInput id="name" name="searchParams" class="input" type="text" placeholder="Search album ..." [(ngModel)]="searchParams" />
      </div>
    </mat-form-field>
    <div class="field is-grouped is-fullwidth">
      <div class="control">
        <button mat-raised-button class="button is-link is-medium" (click)="onSearchAlbum()">Go!</button>
      </div>
      <div class="control">
        <button mat-raised-button class="button is-link is-light is-medium" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>